@charset "utf-8";


/* Mobile - Landscape */
@media (min-width: 400px) {

    .carousel{
        width: 100%;
        border: 1px solid #000;
    }
    .slidebanner{
        position:relative;
        height:100vh;
        width:100%;
        overflow:hidden;
    }
    .slidebanner .bannerbox{
        position:absolute;
        top: 0;
        left: 0;
    }
    .slidebanner li{
        width: 100%;
        /* position: relative;
        left: 0;
        top: 0; */
    }
    .slidebanner li img{
        width: 100%;
        height: 100%;

    }




}

/* Tablet */
@media (min-width: 768px) {}

/* Desktop */
@media (min-width: 992px) {}

/* Desktop (Large) */
@media (min-width: 1200px) {}






/* .slidebanner{
    position:relative;
    height:50px;
    width:985px;
    overflow:hidden;
}
.slidebanner .bannerbox{
    position:absolute;
    margin:0;
    padding:0;
}
.slidebanner li{
    float:left;
    list-style:none;
    margin-left:10px
}
.slidebanner li:first-child{
    margin:0
} */