@charset "utf-8";

/* SOLAR SYSTEM PJ [ 태양 ] 서브 페이지  CSS - sun.css */

/* 외부 공통 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);


/* 태양설명영역 */
/* section01 */
.sun{
  /* height: 3000px; */
}
.sun01{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/sun03.jpg) no-repeat;
}
.sun01 h2{
  color: #fff;
  font-size: 8vw;
  font-family: 'Kanit', sans-serif;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.sun01 .ibx{
  width: 30vw;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  /* box-shadow: 0 0 100px 20px rgba(251, 255, 0); */
}
.sun01 iframe{
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  /* box-shadow: 0 0 100px 20px rgba(251, 255, 0); */
}

/* section02 */
.sun02{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/sun01.jpg) no-repeat;
  background-size: contain;
  background-color: #000;
}
.sun02 h2{
  color: #fff;
  font-size: 3vw;
  font-weight: 400;
  font-family: 'Kanit', sans-serif;
  position: absolute;
  bottom: 35vh;
  left: 50%;
  transform: translateX(-50%);
}

/* section03 */
.sun03{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/sun07.jpg) no-repeat;
  background-size: cover;
  background-position: right;
  background-color: #000;
}
.sun03 h2{
  color: #fff;
  font-size: 5vw;
  font-weight: 600;
  font-family: 'Kanit', sans-serif;
  position: absolute;
  bottom: 35vh;
  left: 15%;
}

/* section04 */
.sun04{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/sun06.jpg) no-repeat;
  background-size: cover;
  background-position: right;
  background-color: #000;
}
.sun04 h2{
  color: #fff;
  font-size: 8vw;
  font-weight: 600;
  font-family: 'Kanit', sans-serif;
  position: absolute;
  bottom: 35vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}