@charset "utf-8";

/* SOLAR SYSTEM PJ [ 태양 ] 서브 페이지  CSS - sun.css */

/* 외부 공통 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);


/* 태양설명영역 */
#mcont{
    height: 3000px;
    /* background-image: url(../img/sun03.jpg); */
}
#mcont .mcont{
}
/* 2-1. 태양이미지 메인화면 */
.mcont .msec01{
    width: 100vw;
}
.msec01 img{
    width: 100%;
}