@charset "utf-8";

/* SOLAR SYSTEM PJ [ 태양 ] 서브 페이지  CSS - sun.css */

/* 외부 공통 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);


/* 태양설명영역 */
/* section01 */
.sun{
  /* height: 3000px; */
}
/* section01 */
.sun01{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/sun07.jpg) no-repeat;
  background-size: cover;
  background-position: right;
  background-color: #000;
}
.sun01 h2{
  color: #fff;
  font-size: 5vw;
  font-weight: 600;
  font-family: 'Kanit', sans-serif;
  position: absolute;
  bottom: 35vh;
  left: 15%;
}
